* {
  margin: 0;
  padding: 0;
  color: #333333;
  background-color: #F5F4F0;
}

:root {
  font-family: "Open Sans", sans-serif;
}

#container {
  box-sizing: border-box;
  padding: 88px 80px;
  margin: 1px;
}

h1 {
  margin: 8px 0 40px;
  font-size: 36px;
  font-weight: bold; 
}

h2 {
  font-size: 32px;
  font-weight: bold;
  margin: 2px 0 8px;
}

h3 {
  font-size: 28px;
  font-weight: bold;
}

#description {
  text-align: center;
  font-style: italic;
  width: 1120px;
  margin: 24px auto 44px;

}

#title-list {
  margin: 64px 0;
}

.card-travel {
  margin-bottom: 48px;
}

/* cores */
.headline {
  color: #E1624F;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
}

.text-primary {
  color: #1B1B1B;
  font-weight: bold;
}

.blue {
  color: #0C51A7;
  font-weight: bold;
}

.orange {
  color: #E95E10;
  font-weight: bold;
}

.pink {
  color: #E5245E;
  font-weight: bold;
}

.purple {
  color: #591B98;
  font-weight: bold;
}


/* Imagem e divisor */

img {
  width: 100%;
}

.divider {
  width: 100%;
  height: 1px;
  margin: 36px 0;
  background-color: #d9d9d9;
}

.number {
  font-size: 28px;
  font-weight: bold;
  list-style: decimal;
  margin: 0 0 0 40px;
}

li {
  margin: 0 0 0 30px;
  list-style: disc;
}